services:
  db:
    image: mysql:8.0
    container_name: shop1-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: shop1
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - shop1-network

  backend:
    build: ./Back-end/shop-1/shop-1/shop-1
    container_name: shop1-backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_HOST: shop1-db
      DB_USERNAME: root
      DB_PASSWORD: root
    networks:
      - shop1-network

  frontend:
    build: ./Front-end/frontend
    container_name: shop1-Frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - shop1-network

networks:
  shop1-network:
    name: shop1-network
    driver: bridge