name: Deploy Full Stack

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd ~
            
            git pull origin main
            
            mkdir -p ./Back-end/shop-1/shop-1/shop-1/src/main/resources
            echo "${{ secrets.APPLICATION_PROPERTIES }}" > ./Back-end/shop-1/shop-1/shop-1/src/main/resources/application.properties
            
            # docker-compose.yml의 build 경로가 ./front-end/frontend 인 경우
            mkdir -p ./front-end/frontend
            echo "${{ secrets.ENV_LOCAL }}" > ./front-end/frontend/.env.local

            sudo docker compose down
            sudo docker compose up -d --build
