name: Deploy Full Stack

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/shop1
            git pull origin main
            
            mkdir -p ./Back-end/shop-1/shop-1/shop-1/src/main/resources
            echo "${{ secrets.APPLICATION_PROPERTIES }}" > ./Back-end/shop-1/shop-1/shop-1/src/main/resources/application.properties
            
            mkdir -p ./Front-end/frontend
            echo "${{ secrets.ENV_LOCAL }}" > ./Front-end/frontend/.env.local
            
            sudo docker compose down
            sudo docker compose up -d --build
